@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~react-toastify/dist/ReactToastify.min.css';

:root {
  font-size: 16px;
}

body {
  position: relative;
  margin: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.example-container {
  @apply rounded-t-lg bg-black_4B w-[378px] h-[260px] flex items-center justify-center;
}

.example-description {
  @apply bg-black_17 text-white flex flex-col gap-[18px] p-[33px];
}

.svg-container {
  max-width: 100%;
  max-height: 100%;
}
